
@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Kodchasan&display=swap');
/* 
KoHo for headers, Kodchasan for other text
*/

body {
    background-color: #F5E4E0;
    color: #4E2A84;
    margin: 0;
    overflow-x: hidden
}

h1, h2, h3, h4, h5 {
    font-family: 'KoHo', sans-serif;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

h5 {
    font-size: 25px;
    padding-left: 20px;
}



p {
    padding-bottom: 20px;
    padding-top: 20px;
}

p, a, li, input, label {
    font-family: 'Kodchasan', sans-serif;
}

a {
    color: #C97B84;
}

a:hover {
    color: white;
}

p, li, h4 {
    padding-left: 20px;
    padding-right: 30px;
    font-size: 25px;
    margin: 0px;
}

h4 {
    font-size: 27px;
    color: #C97B84;
    padding-bottom: 10px;
    padding-top: 20px;
}

ul > *{
    padding-top: 15px;
}

#infotext {
    display: flex;
    align-items: center;
}

#logo {
    width: 20%;
    padding: 20px;
}

#ihsa {
    display: grid;
    grid-template-rows: 5fr;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: 
        "a b";
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
}

.facebook, .instagram {
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


form {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-end;
}


input, label, textarea {
    font-size: 20px;
    width: 500px;
}

.field {
    padding-bottom: 20px;
}

textarea {
    height: 300px;
}

.mailbtn {
    width: 100px;
    font-size: 20px;
    background-color: #4E2A84;
    color: white;
}

#msg {
    height: 300px;
}

.facebook:hover, .instagram:hover {
    opacity: 70%;
}

#ihsa #text {
    grid-area: a;
}

#ihsa img {
    grid-area: b;
    width: 90%;
    justify-self: center;
    align-self: center;
}

header {
    background-color: #4E2A84;
    color: #F5E4E0;
    display: flex;
    justify-content: center;
    height: 20%;
    align-items: center;
}

h2 {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main2 {
    display: flex;
    flex-direction: column;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #E5C3D1;
    
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #4E2A84;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    right: 10;
    margin-top: 10px;
}
  
.openbtn:hover {
    background-color: #444;
}

.carousel {
    width: 60%;
    height: 50%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
}


.featured_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured_image > img {
    height: 60vh;
    border: 12px solid #C97B84;
    border-radius: 1.5%;
}

.next, .prev {
    padding-left: 10px;
    padding-right: 10px;
}

.container > div {
    border: 5px solid #C97B84;
    background-color: #C97B84;
    margin: 10px;
    border-radius: 50%;
}

div.selected {
    border-color: #974E49;
    background-color: #974E49;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}